<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Wellmeadaws.My.MySettings.AppointData" connectionString="Data Source=124.121.233.223\SQLEXPRESS,1433;Initial Catalog=Project;User ID=admin"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>